body {
    background-color: #9cbabc;
}

p {
    color: #000000;
    font-size: 25px;
    font-style: regular;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    font: Franklin Gothic Regular;
}
