/*  Removes default styles from a button element */
.u-button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

.title,
.price,
.description,
.rating,
button {
    font-family: 'Montserrat', sans-serif, bold
}

img {
    position: relative;
    left: 40px;
    top: 220px;
    min-width: 100px;
    max-width: 100%;
}

.title {
    font-size: 50px;
    position: relative;
    left: 230px;
    top: 200px;
}

.price {
    font-size: 40px;
    position: relative;
    left: 500px;
    top: 280px;
}

.description {
    width: 550px;
    height: 220px;
    position: relative;
    bottom: 750px;
    font-size: 40px;

}

.rating {
    font-size: 20px;
    position: relative;
    left: 600px;
    bottom: 120px;
}

svg {
    height: auto;
    width: 20px;
}

button {
    position: relative;
    left: 250px;
    bottom: 50px;
    font-size: 15px;
    background-color: #bb8c4e;
}

.background {
    background-color: #979797;
    background-width: 640px;
    background-height: 1100px;
}
