/*  Removes default styles from a button element */
.u-button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

img {
    position: relative;
    left: 40px;
    top: 150px;
    min-width: 100px;
    max-width: 100%;
}

.title {
    position: relative;
    left: 400px;
    top: 200px;
    font-family: 'Montserrat', sans-serif
}

.price {
    font-family: 'Montserrat', sans-serif
}

.description {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif
}

.background {
    width: 640px;
    height: 1000px;
    background-color: #696969;
}
