/*  Removes default styles from a button element */
.u-button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

.background {
    width: 640px;
    color: #151515;
}

.title {
    font-family: 'Montserrat', sans-serif
}

.price {
    font-family: 'Montserrat', sans-serif
}

.description {
    font-family: 'Montserrat', sans-serif
}
